<!-- /project/users/templates/about.html -->


{% extends "template.html" %}

{% block content %}

    <h1>Welcome to Location Project.</h1>
    <p>
        This tool aims to help researchers who intend to use location information from online social networks
        (OSN) for spatial analysis. Many popular OSNs (including Foursquare, Twitter, Instagram) have mature
        application programming interfaces (API) that allow the public to harness some of their data. For example,
        one could download all the tweets posted in the last 24 hours that contain #blacklivesmatter. Furthermore,
        it's possible to explore 'where' questions related to these data. For example, this person may want to know,
        'in the last day, where in California have there been posts that contain #blacklivesmatter?'.
    </p>
    <p>
        A more complex question may want to know, 'where do the users live that posted a tweet containing
        #blacklivesmatter?'. There is a subtle difference between these two types of 'where' questions. The first wants
        to know where these posts were made, while the second wants to locate the user's home. It's easy to mix these
        up. Furthermore,
        there are other location types (such as ***geotagged), which are commonly used during analysis to locate users.
        This can be problematic because, depending on the location type used, only certain things can be reliably
        located. For example, tagging a venue or a point of interest in a Facebook post often suggests that a person is
        there. However, most OSNs do not necessitate that the user is there when the post is made. They could have made
        that post when they got home, added a place even later on, or they could be simply talking about that place.
        Therefore, it's not very reliable to use this location type to locate the posting user. Other attributes may be
        better, such as exact coordinates.
    </p>
    <p>
        TODO: add more detail & links to spatial@ucsb, give examples, link to thesis & literature
    </p>
    <img src="../../static/img/FB-f-Logo__blue_1024.png" width="88" height="88" alt="">
    <img src="../../static/img/Foursquare%20Social.png" width="88" height="88" alt="">
    <img src="../../static/img/glyph-logo_May2016.png" width="88" height="88" alt="">
    <img src="../../static/img/Twitter_Logo_White_On_Blue.png" width="88" height="88" alt="">
    <img src="https://s.yimg.com/pw/images/goodies/white-large-chiclet.png" width="88" height="88" alt="">
    <img src="../../static/img/Yelp_burst_positive_RGB.png" width="88" height="88" alt="">

{% endblock %}